@media (min-width: 768px) {
    .icon--menu,
    .icon--close {
        display: none;
    }

    .menu {
        position: static;
        opacity: 1;
        pointer-events: all;
        padding: 0;
        background: none;
    }

    .menu__container {
        padding: 0;
    }

    .menu__grid {
        gap: 24px;
        --columns: 12;
        align-items: center;
    }

    .menu__top {
        display: none;
    }

    .menu__logo {
        display:flex;
        height: 40px;
        width: auto;
    }


    .menu__nav {
        grid-column: 4/8;

    } 
    .munu__nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding: 0;
        gap: 32px;
    }

    .menu__list {
        display: flex;
        gap: 32px;
        margin: 0;
    }

    .menu__item {
        margin: 0;
    }

    .contact-btn {
        margin: 0;
        grid-column: 11/12;

    }
    .header {
        min-height: auto;
    }
    .header__top{
        display:none;
    }

    .header__bottom {
        flex-direction: column;
        justify-content: space-evenly;
        padding: 48px;
        /* gap: 48px; */
    }

    .header__title {
        font-size: 40px;
        line-height: 1.2;
    }

    .nav__list {
        display: flex;
        gap: 32px;
        margin: 0;
    }

    .nav__item {
        margin: 0;
    }

    .container__grid {
        flex-direction: row; 
        flex-wrap: wrap;
    }
    .partners-grid {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    /* Show 12 items per slide for desktop */
    .partner-card:nth-child(n+13) {
        display: none;
    }
}